.idea/
vendor/
node_modules/
/admin/assets/css/dist/*.css
/admin/assets/css/dist/*.css.map
/admin/assets/js/*.min.js
/admin/assets/js/*.js.map
.wordpress-svn/
artifact.zip
artifact/
.phpcs.xml
phpcs.xml
.cache/phpcs.cache
